@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DATA</h2>
            @{
                var grid = new WebGrid(source:Model,canPage:true, rowsPerPage:10);
                //grid.Pager(WebGridPagerModes.All);
            }
 
            <style type="text/css">
            /*Here we will add css for style webgrid*/
                .webgrid-table
                {
                    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
                    font-size: 1.2em;
                    width: 1024px;
                    display: table;
                    border-collapse: separate;
                    border: solid 1px blue;
                    background-color: white;
                }
                .webgrid-table td, th
                {
                    border: 1px solid lightblue;
                    padding: 3px 7px 2px;
                }
                .webgrid-header
                {
                    background-color: #5BA4CD;
                    color: #FFFFFF;
                    padding-bottom: 4px;
                    padding-top: 5px;
                    text-align: left;
                }
                .webgrid-footer
                {
                }
                .webgrid-row-style
                {
                    padding: 3px 7px 2px;
                }
                .webgrid-alternating-row
                {
                    background-color: #C9DFEC;
                    padding: 3px 7px 2px;
                }
            </style>
 
            <div id="content">
                @grid.GetHtml(
                tableStyle:"webgrid-table",
                headerStyle:"webgrid-header",
                footerStyle:"webgrid-footer",
                alternatingRowStyle:"webgrid-alternating-row",
                rowStyle:"webgrid-row-style",
                columns:grid.Columns(
                    //here i will add column for serial no
                    grid.Column(header:"ID", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item)+1)</div></text>),
                    grid.Column(columnName:"ClientContactNumber",header:"Client ContactNumber"),    
                    grid.Column(columnName:"FirstName",header:"Username"),
                    grid.Column(columnName:"LastName", header:"Full Name"),
                    grid.Column(columnName:"DateOfBirth", header:"Date of Birth"),
                    grid.Column(columnName:"PhoneNumber", header:"PhoneNumber"),
                    grid.Column(columnName:"StatusID", header:"Status"),
                    grid.Column(header:"Deposit", format:@<text><input type="checkbox" checked="@item.Deposit" disabled="disabled" /></text>),
                    grid.Column(header:"Modify", format:@<text><a href="#">@item.ID</a></text>)
                    ))
            </div>
<br/>

/*First loop print column Header*/
<div>
<code>try{
    DataTable results = GetDataForSql("SELECT * FROM Table;", ApplicationSettings["ConnectionString"]);
}
catch(Exception e)
{
    //Logging
    //Alert to user that command failed.
}</code>
    </div>