@model BankManager.Models.UserModel

@{    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h2>Online bank management system</h2>
    <img src="../../Content/Images/Build.jpg"/><br/>
<pre>This is bank client management system!</pre><br/>
</div>
@ViewBag.Message
