body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


body {
    font-family:Arial, Helvetica, sans-serif;
}

.head {
    height:100px;
    width:1024px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #5BA4CD;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display:block;
}
.mainmenu {
    width:1024px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color:#5BA4CD;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align:bottom;
    display:block;
}
.main {
    height:auto;
    width:1024px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align:bottom;
    display:block;

}

.centre
{
  display: inline;
  text-align: center;
  vertical-align: central;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  position: relative;
}

.bottom {
    height:50px;
    width:1024px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #C9DFEC;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display:block;
}
.center {
    width:1024px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    display:table-cell;
}
table.login {
    text-align:center;
}


.editCell {
    background-color: #FFFFFF !important;
    background-image: url(images/edit.gif) !important;
    background-repeat: no-repeat !important;
    border-style: none !important;
}

.detailsCell {
    background-color: #FFFFFF !important;
    background-image: url(images/details.png) !important;
    background-repeat: no-repeat !important;
    border-style: none !important;
}
.deleteCell {
    background-color: #FFFFFF !important;
    background-image: url(images/delete.gif) !important;
    background-repeat: no-repeat !important;
    border-style: none !important;
}


input[type="button"]
{
    background: transparent;
    color:none;
}

td {
    text-align:left;
}