<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="Autofac.Mvc4" version="3.1.0" targetFramework="net40" />
  <package id="HttpSimulator" version="1.0.0.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net40" />
  <package id="Moq.AutoMock" version="0.3.2.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net451" />
  <package id="SimpleCrypto" version="0.3.30.26" targetFramework="net40" />
</packages>